@use "../directory/directory";

// file-manager__page
.file-manager__page {
	.file-manager {
		height: calc(100vh - 48px);
		overflow-y: auto;
	}

	.media-open__sidebar-btn {
		display: none;
	}

	.middle-sidebar {
		// max-width: calc(100% - 56px - 352px - 360px);
		max-width: 100%;
		width: 100%;
		overflow-y: auto;
		height: calc(100vh - 48px);
		padding-bottom: 26px;
		min-width: 390px;

		&.show-nav {
			// min-width: calc(100% - 320px - 352px - 360px);
		}

		.ChoiceGroup-Label_focus {
			background: #00426912;
		}
	}

	.btns {
		display: flex;
		gap: 4px;
	}

	.left-sidebar {
		min-width: 315px;

		.btns {
			padding-bottom: 24px;

			button {
				flex: 100%;
			}
		}

		.list {
			.flex {
				gap: 12px;
				align-items: center;
			}

			.list-item {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 32px;
				border-radius: 8px;
				padding: 0 8px 0 12px;

				&.active,
				&:hover {
					background: #00426912;
				}
			}
		}
	}

	.lists {
		.list-item {
			border-radius: 8px;
			transition: all 0.2s linear;
			padding: 8px 8px 0 12px;
			position: relative;

			&:hover {
				background: #00426912;

				.bottom-box {
					border-color: transparent;
				}
			}
		}

		.top-box {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 12px;

			svg {
				width: 16px;
				height: 16px;
			}
		}

		.flex {
			gap: 12px;
			align-items: center;
		}

		.bottom-box {
			margin-left: 35px;
			justify-content: space-between;
			display: flex;
			align-items: center;
			padding-bottom: 8px;
			border-bottom: 1px solid #d0d8df;
			transition: all 0.2s linear;
		}
	}

	.right-sidebar {
		.text-box:last-child {
			border: none;
		}
	}
}

// file-manager__import-page
.file-manager__import-page {
	.bottom-btn {
		border-radius: 8px;
		width: 100%;
	}

	.left-sidebar,
	.middle-sidebar {
		min-width: 360px;
		max-width: 360px;
	}

	.middle-sidebar {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.right-sidebar {
		width: 100%;
		min-width: unset;
		max-width: unset;
	}

	.list {
		.Badge_size_s {
			width: 16px;
			height: 16px;
		}

		.Badge_size_xs {
			width: 12px;
			height: 12px;
		}
	}

	.drop-list {
		padding: 12px 0;

		&__tr {
			display: flex;
			align-items: start;
			justify-content: space-between;

			&.active {
				background: #00426912;
				border-radius: 8px;

				.right-box {
					border-bottom: none;
				}
			}
		}

		.left-box {
			width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.right-box {
			border-bottom: 1px solid #D0D8DF;
			width: 100%;
			margin-left: 4px;
			padding: 0 4px 8px 0;
			margin-bottom: 4px;
		}

		.right-box__top {
			height: 32px;
			display: flex;
			align-items: center;
			padding: 4px 4px 0 0;
		}

		.right-box__bottom {
			padding: 4px 0;
		}

		.sub-menu {
			li {
				padding: 7px 4px 7px 0;
			}
		}
	}
}

@media screen and (max-width: 1360px) {
	.file-manager__page .left-sidebar .btns {
		padding-bottom: 18px;
		flex-direction: column;

		button {
			justify-content: center;
		}

		.Button-Label {
			flex-grow: 0;
		}
	}

	.file-manager__page.home .left-sidebar {
		min-width: 205px;
	}

	.sidebar-header {
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 992px) {

	//
	.file-manager__page {
		.right-sidebar {
			min-width: 270px;
		}
	}

	.file-manager__import-page .middle-sidebar {
		max-width: 100%;
		min-width: 100%;
	}

	.file-manager__page .lists .top-box {
		flex-direction: column;
		align-items: start;
	}

	.file-manager__page .lists .bottom-box {
		margin-left: 0;
	}

	.file-manager__page .file-manager {
		overflow-x: hidden;
	}

	.file-manager__page .left-sidebar,
	.file-manager__page .right-sidebar {
		position: fixed;
		top: 48px;
		left: -100%;
		width: 100%;
		height: 100%;
		max-width: 100%;
		z-index: 10;
		background: #fff;
		transition: all 0.3s ease-out;

		&.show-sidebar {
			left: 0;
		}
	}

	.file-manager__page .right-sidebar {
		left: unset;
		right: -100%;

		&.show-sidebar {
			left: unset;
			right: 0;
		}
	}

	.file-manager__page .media-open__sidebar-btn {
		display: flex;
	}
}

@media screen and (max-width: 768px) {
	.file-manager__page {
		.BreadcrumbsItem-Link {
			display: none;
		}

		.BreadcrumbsItem-Link_active {
			display: block;
		}

		.BreadcrumbsItem-Delimiter {
			display: none;
		}

		.header .header-left {
			gap: 8px;
		}
	}

	.file-manager__page .middle-sidebar {
		min-width: 350px;
	}
}